<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialMideaLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2EF843F1BFDCD1100A34718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2EF84531BFDCD1100A34718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2EF845E1BFDCD1100A34718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
